<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Sound Review - Playlist</title>
    <link rel="stylesheet" href="/css/playlist.css">
    <%- include('partials/wavesurfer-scripts') %>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 id="playlistTitle">Loading Playlist...</h1>
            <div id="playlistInfo" class="playlist-info">Loading playlist information...</div>
        </div>

        <div class="main-content">
            <div class="sidebar">
                <h3>Tracks</h3>
                <div id="tracksList" class="tracks-list">
                    <div class="loading">Loading tracks...</div>
                </div>
            </div>

            <div class="player-area">
                <div id="noTrackSelected" class="no-track">
                    Select a track from the sidebar to start playing
                </div>

                <div id="playerContainer" class="player-container" style="display: none;">
                    <div class="current-track-info">
                        <h2 id="currentTrackTitle">Track Title</h2>
                    </div>

                    <%- include('partials/audio-comment-widget') %>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/audio-comment-widget.js"></script>
    <script src="/js/playlist.js"></script>
</body>
</html>
