<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Sound Review - Track</title>
    <link rel="stylesheet" href="/css/player.css">
    <%- include('partials/wavesurfer-scripts') %>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="track-title" id="trackTitle">Loading...</h1>
            <div class="track-info" id="trackInfo">Loading track information...</div>
        </div>

        <div class="player-container">
            <%- include('partials/audio-comment-widget') %>
        </div>
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/audio-comment-widget.js"></script>
    <script src="/js/track.js"></script>
</body>
</html>
